In [2]:
import pandas as pd
import os

In [3]:
# set present working directory
pwd = os.getcwd()

In [10]:
# read in our dataset
dataset = pd.read_excel(pwd + "\\game_statistics_feb_2023.xlsx", sheet_name="game_stats")

In [13]:
# check our dataset imported correctly
dataset

,title,total_shipped,publisher,developer,release_date,platform,pos
0,Tetris,496.40,The Tetris Company,Alexey Pajitnov,01st Jan 88,Series,1
1,Pokemon,464.84,Nintendo,Game Freak,28th Sep 98,Series,2
2,Call of Duty,400.00,Activision,Infinity Ward,29th Oct 03,Series,3
3,Super Mario,398.51,Nintendo,Nintendo,20th Jul 83,Series,4
4,Grand Theft Auto,395.00,Rockstar Games,Rockstar North,27th Mar 98,Series,5
...,...,...,...,...,...,...,...
39010,Zombie Brigade: No Brain No Gain,NaN,Unknown,Cypron Studios,NaN,WiiU,62509
39011,ZOMBIE GOLD RUSH,NaN,Amazing Inc.,Amazing Inc.,26th Oct 17,NS,62510
39012,Zombieland: Double Tap - Road Trip,NaN,GameMill Entertainment,High Voltage Software,15th Oct 19,NS,62511
39013,Zombillie,NaN,Forever Entertainment S.A.,Forever Entertainment S.A.,29th Mar 18,NS,62515
39014,Zoo Tycoon: Ultimate Animal Collection,NaN,Microsoft Studios,Frontier Developments,31st Oct 17,XOne,62517

In [14]:
# check our column names, trying to get an overall feel of the dataset
dataset.columns

Index(['title', 'total_shipped', 'publisher', 'developer', 'release_date',
       'platform', 'pos'],
      dtype='object')

In [19]:
# setting column names if we need it. so we can use the list instead of typing them all out
columns = ['title', 'total_shipped', 'publisher', 'developer', 'release_date',
       'platform', 'pos']
columns

['title',
 'total_shipped',
 'publisher',
 'developer',
 'release_date',
 'platform',
 'pos']

In [25]:
# Quick look at top 10 Titles
dataset["title"][0:10]

0              Tetris
1             Pokemon
2        Call of Duty
3         Super Mario
4    Grand Theft Auto
5                FIFA
6           Minecraft
7                Lego
8    Assassin's Creed
9            The Sims
Name: title, dtype: object

In [35]:
# quick look at top publishers, not counting the Unknown
dataset[dataset["publisher"] != "Unknown"]["publisher"].value_counts().head(10)

publisher
Sega                           1354
Microsoft                      1216
Nintendo                       1174
Konami                         1139
Sony Computer Entertainment     923
Ubisoft                         813
Electronic Arts                 791
Activision                      625
Capcom                          577
Atari                           531
Name: count, dtype: int64

In [ ]:
# Formulating Idea: What could we view or discover from this Data?

##  Maybe we could compare Genres and what seems to be everyones favorite.

## Would also be interesting to see Dates of teh most popular games. It feels like lately game quality has fallen even though overall amount spent and number of gamers has grown exponentially.

## Genre is not currently in our dataset. We would have to add it using some Python code and Google API.